.container {
    padding: 1rem;
    width: 80%;
  
    & > div:nth-of-type(2) {
      display: flex;
    }
  
    & > div:first-of-type {
      padding: 0.5rem 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  
  .processPerTypeContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    width: 100%;
    height: 100%;

    
  
    margin-top: 1.4rem;
  
    h3 {
      
      height: 2.5rem; //3rem
    }
  }
  
  .processPerType {
    height: 100%;
    width: 16rem;
    text-align: center;
    padding: 0.3rem;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    h3 {
      text-transform: uppercase;
      font-family: 'Arial Black', sans-serif;
    }
  }
  
  .processContainer {
    height: auto;
    width: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    //shadow 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    //rounded corners
    border-radius: 5px; 
  
    margin-top: 1rem;
    border: 1px solid lightgray;
    
  
    span {
      width: 100%;
      height: 30px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-family: sans-serif;
      text-transform: lowercase;

    }
  }
  
  .ok,
  .warning,
  .critical,
  .finished {
    height: 10px;
    margin-top: 1px;
    padding: 0.5rem;
  
    border-radius: 0 0 5px 5px;
  }
  
  .ok,
  .critical,
  .finished {
    color: white;
  }
  
  .ok {
    background-color: green;
  }
  
  .warning {
    background-color: rgb(252, 197, 46);
  }
  
  .critical {
    background-color: rgb(216, 0, 0);
  }

  .finished {
    background-color: black;
  }

  //Lei de tóxicos

  .law {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
    

    font-family: serif;
    font-size: 28px;

  }
  
  // hover function
  .processContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    cursor: pointer;

  }

  .searchBox {
  
  position: absolute;
  top: 8rem;
  left: 69%;


 
  background: rgb(250, 250, 255);
  margin-top: 1px;
  padding:4px;
  border-radius:5px ;
  right: 2rem;
  
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  border: 1px solid lightgrey;
  width:  16.8rem;
  font-size: 17px; 
  
}





.line {
  width: 100%;
}